* {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: white;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(7, 7, 7);
    min-height: 100vh;
}

button {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    border: 3px solid rgb(250, 245, 245);
    background-color: rgb(10, 10, 10);
    color: rgb(252, 248, 248);
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

footer {
    font-size: 13px;
    padding-top: 400px;
}

#counter {
    display: flex;
}

#currentNumber {
    display: table;
    align-items: center;
    margin: 0 20px;
    font-size: 27pt;
}

